/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.idea/gradle.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.4/fileHashes/resourceHashesCache.bin
/.idea/vcs.xml
/.idea/workspace.xml
